.chat {
    position: relative;
    width: 60%;
    height: 700px;

    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;

}